.destination-card
  figure
    position relative

    img
      display block

  figcaption
    position absolute
    // bottom 0
    left 0
    right 0

    h1
      background rgba(255, 255, 255, 0.7)
      color darken($brand, 20%)
      font 20px $titleFont
      margin 0
      padding 10px
